*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 90px;
    text-align: center;
    padding-bottom: 15px;
}

#color-picker {
    width: 100px;
    border: none;
    background: transparent;
}

#main-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#parent-for-grid {
    display: grid;
    height: 500px;
    width: 700px;
    border: 3px outset rgb(10, 89, 250);
}

#control-panel {
    text-align: center;
}

.colorLabel {
    display: inline-block;
}

.custom-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    min-height: 60px;
    min-width: 0;
    padding: 12px 14px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
    margin: 0 10px 20px 10px;
}

.custom-button:disabled {
    pointer-events: none;
}

.custom-button:hover {
    background-color: rgb(10, 89, 250);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.footer {
    margin: 30px auto 0px auto;
    color: var(--primary-light);
    font-size: 20px;
    text-align: center;
}

.fa-github {
    color: var(--primary-light);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

@media (max-width: 650px) {
    h1 {
        font-size: 60px;
    }
    #parent-for-grid {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 450px) {
    #parent-for-grid {
        width: 200px;
        height: 200px;
    }
}